@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

/* */
.flex-custom {
  @apply flex justify-between items-center flex-col;
}

.login-input{
  @apply w-[93%] sm:w-[80%] bg-white px-3 py-4 font-bold rounded-2xl border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none text-xl placeholder:text-[#5E2615] placeholder:font-normal 
}

.Log-button{
  @apply w-[93%] sm:w-[80%] bg-[#FF6C41] text-2xl text-white px-3 py-3 font-bold rounded-2xl hover:bg-white hover:text-[#FF6C41] transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none  placeholder:text-[#5E2615] placeholder:font-normal  hover:cursor-pointer
}

.Log-google{
  @apply w-[93%] sm:w-[80%] bg-white text-xl text-black px-3 py-3.5 font-normal rounded-2xl hover:bg-white transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none placeholder:text-[#5E2615] placeholder:font-normal flex justify-center items-center hover:cursor-pointer
}
.Sign-button{
  @apply w-[60%] sm:w-[60%] bg-[#FF6C41] text-2xl text-white px-3 py-2 font-bold rounded-2xl hover:bg-white hover:text-[#FF6C41] transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none  placeholder:text-[#5E2615] placeholder:font-normal  hover:cursor-pointer
}


.Sign-google{
  @apply w-[35%] sm:w-[35%] bg-white text-xl text-black px-3 py-2 font-normal rounded-2xl hover:bg-white transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none placeholder:text-[#5E2615] placeholder:font-normal flex justify-center items-center hover:cursor-pointer
}

.didntsignforget{
  @apply w-full flex justify-between md:px-13 sm:px-25 px-10 text-nowrap lg:px-25 text-[#5E2615] text-xs sm:text-sm mb-3
}

.didntsignforget{
  @apply w-full flex justify-center items-center md:px-13 sm:px-25 px-10 text-nowrap lg:px-25 text-[#5E2615] text-xs sm:text-sm mb-3
}

.didntsignforget p{
  @apply underline md:mx-3 lg:mx-0 hover:text-[#FF6C41] hover:cursor-pointer
}

.verifyinput{
  @apply py-13 flex justify-between flex-col items-center shadow-[1px_1px_6px_3px_rgba(0,_0,_0,_0.1)] h-[17em] w-[17em] sm:w-[30em] rounded-2xl
}

.verifyinput input{
  @apply h-[2.3em] hover:cursor-pointer text-center font-bold tracking-[0.3em] w-[70%] border-2 rounded-lg text-3xl text-[#5E2615] outline-0 border-[#5E2615]
}

.verifyinput button{
   @apply hover:cursor-pointer hover:bg-[#FF6C41]/90 h-[2.3em] w-[70%] text-white text-3xl font-bold bg-[#FF6C41] rounded-lg
}

/* From here Nav component */

.navbar{
  @apply w-full backdrop-blur-md transition-all duration-500 flex flex-col fixed top-0 z-50 p-2 sm:p-4 lg:px-14
}

.quickText{
  @apply hidden sm:flex sm:text-3xl lg:text-5xl font-bold text-black
}

.sunshine {
  @apply bg-gray-800 transition-all duration-500;      /* Tailwind amber-400 */
}

.sunshine .catagoryContainer{
  @apply flex transition-all duration-500
}

.sunshine .quickText{
  @apply text-white
}

.sunshine .searchBarHolder{
  @apply border-gray-700
}

.sunshine .searchButton{
  @apply border-r-gray-700
}

.navflex{
  @apply flex justify-between items-center w-full
}

.searchBarHolder{
  @apply flex bg-white h-[3rem] rounded-lg overflow-clip border-2 border-[#FF6C41]
}

.searchButton{
  @apply w-[4rem] h-[3rem] border-r-2 border-r-[#FF6C41] pr-3 pl-4 p-3.5 flex justify-center items-center
}

.searchBar{
  @apply px-3 text-lg flex placeholder:text-[#FF6C41] outline-none sm:w-[50vw] md:w-[50vw] lg:w-[40vw] h-[3rem]
}

.catagoryContainer{
  @apply hidden lg:hidden  space-x-11 mt-5
}

/* Landing styling */

.Hero{
  @apply flex flex-row justify-between
}

.HeroText{
  @apply z-10 w-screen sm:w-auto flex justify-center items-center flex-col 
}

.QuickHero{
  @apply text-[5.2rem] sm:text-8xl text-white font-bold text-shadow-lg/15
}

.Herosubheading{
  @apply sm:ml-15 flex font-semibold flex-col w-80 sm:w-96 mt-8 text-3xl sm:text-[2rem]
}

.subStyle{
  @apply flex justify-end items-center h-[35px] sm:h-[40px] text-[#5E2615]
}

.HeroButton{
   @apply text-white font-bold hover:scale-110 transition-all hover:cursor-pointer 
      active:bg-[#e16843] active:scale-105 text-3xl sm:text-4xl px-7 mt-8 pb-2 pt-2 flex justify-center border border-[#5E2615] items-center 
      rounded-xl bg-[#FF6C41]
}

.Hero img{
  @apply hidden sm:flex sm:right-[-300px] md:right-[-220px] h-[37rem] z-0 absolute top-0 lg:right-0
}

/* HomePage styling */

.LandingHolder{
  @apply mt-10 px-2 py-16 md:p-16 md:px-9 lg:px-16 flex justify-center items-center sm:justify-normal sm:justify-items-normal
}

.LandingLine{
  @apply w-screen flex justify-center items-center mt-5 sm:mt-15
}

.LandingLine div{
  @apply h-[2px] bg-orange-500 w-[80vw]
}
/* Home Electronics */

.SkeletonDiv{
  @apply w-full aspect-[3.3/5] hover:cursor-pointer active:scale-100 bg-[#FFEB9E] rounded-lg  overflow-hidden border-2 hover:scale-105 transition-all
}

.HeroDiv{
  @apply w-full flex  items-center h-[20rem] py-3.5 px-6 md:px-12 bg-black rounded-2xl mb-12 shadow-lg overflow-hidden
}

.SuperSonic{
  @apply text-5xl sm:text-6xl font-bold mt-0 bg-gradient-to-r from-[#806d01] to-[#FFD700] text-transparent w-[21rem] bg-clip-text
}

.Deals{
  @apply  inline pt-2 bg-gradient-to-r text-4xl w-28 from-[#665700] to-[#FFD700] bg-clip-text text-transparent
}

.HeroSub1{
  @apply text-transparent mt-6 font-semibold text-2xl bg-gradient-to-r from-[#606060] to-white w-68 bg-clip-text
 }

 .HeroSub2{
  @apply text-transparent font-semibold text-2xl bg-gradient-to-r from-[#606060] to-white w-68 bg-clip-text
 }

 .HeroButtonHolder{
  @apply rounded-lg mt-7 hover:scale-105 transition-all duration-300 active:scale-100 w-42 p-[2px] bg-gradient-to-r from-[#806d01] mb-4 to-[#FFD700]
 }

 .HeroButtonHolder button{
  @apply w-full font-bold px-6 py-2 bg-black rounded-md hover:cursor-pointer 
 }

 .HeroButtonHolder span{
  @apply bg-gradient-to-r from-[#665700] to-[#FFD700] bg-clip-text text-transparent
 }

 .ElecMain {
  @apply w-full flex flex-col items-center overflow-clip mt-20 px-4 sm:px-6 lg:px-8
 }
 .ElecMain2 {
  @apply w-full flex flex-col items-center overflow-clip px-4 sm:px-6 lg:px-8
 }

 .ElecMap {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-8
 }

 .Elecbutton {
  @apply flex justify-center  items-center w-full aspect-[4/5]
 }
 /* Items */

 .ItemsDiv {
  @apply flex justify-center overflow-x-scroll items-center gap-9 py-5  px-20 mt-20
 }

 .MappingDiv {
  @apply transition-all duration-300 hover:cursor-pointer hover:scale-105 w-[10rem] h-[10rem] border-2 lg:shrink-1 shrink-0 lg:h-auto lg:w-full overflow-clip lg:aspect-square rounded-lg bg-[#FF9070] border-[#5E2615]
 }

 .ItemImg {
  @apply w-full flex justify-center items-center h-[75%] border-[#5E2615] border-b-2
 }

 .ItemP {
  @apply w-full h-[25%] flex justify-center font-semibold text-2xl text-[#5E2615] items-center bg-[#FFE9BE]
 }

 /* Static Nav */
 .Staticnavbar{
  @apply w-full backdrop-blur-md transition-all duration-500 flex flex-col fixed top-0 z-50 p-2 sm:p-4 lg:px-14
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
