@import "tailwindcss";

/* */
.flex-custom {
  @apply flex justify-between items-center flex-col;
}

.login-input{
  @apply w-[93%] sm:w-[80%] bg-white px-3 py-4 font-bold rounded-2xl border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none text-xl placeholder:text-[#5E2615] placeholder:font-normal 
}

.Log-button{
  @apply w-[93%] sm:w-[80%] bg-[#FF6C41] text-2xl text-white px-3 py-3 font-bold rounded-2xl hover:bg-white hover:text-[#FF6C41] transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none  placeholder:text-[#5E2615] placeholder:font-normal  hover:cursor-pointer
}

.Log-google{
  @apply w-[93%] sm:w-[80%] bg-white text-xl text-black px-3 py-3.5 font-normal rounded-2xl hover:bg-white transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none placeholder:text-[#5E2615] placeholder:font-normal flex justify-center items-center hover:cursor-pointer
}
.Sign-button{
  @apply w-[60%] sm:w-[60%] bg-[#FF6C41] text-2xl text-white px-3 py-2 font-bold rounded-2xl hover:bg-white hover:text-[#FF6C41] transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none  placeholder:text-[#5E2615] placeholder:font-normal  hover:cursor-pointer
}


.Sign-google{
  @apply w-[35%] sm:w-[35%] bg-white text-xl text-black px-3 py-2 font-normal rounded-2xl hover:bg-white transition-all duration-300 border border-[#5E2615] hover:border-[#FF6C41] focus:border-[#FF6C41] outline-none placeholder:text-[#5E2615] placeholder:font-normal flex justify-center items-center hover:cursor-pointer
}

.didntsignforget{
  @apply w-full flex justify-between md:px-13 sm:px-25 px-10 text-nowrap lg:px-25 text-[#5E2615] text-xs sm:text-sm mb-3
}

.didntsignforget{
  @apply w-full flex justify-center items-center md:px-13 sm:px-25 px-10 text-nowrap lg:px-25 text-[#5E2615] text-xs sm:text-sm mb-3
}

.didntsignforget p{
  @apply underline md:mx-3 lg:mx-0 hover:text-[#FF6C41] hover:cursor-pointer
}

.verifyinput{
  @apply py-13 flex justify-between flex-col items-center shadow-[1px_1px_6px_3px_rgba(0,_0,_0,_0.1)] h-[17em] w-[17em] sm:w-[30em] rounded-2xl
}

.verifyinput input{
  @apply h-[2.3em] hover:cursor-pointer text-center font-bold tracking-[0.3em] w-[70%] border-2 rounded-lg text-3xl text-[#5E2615] outline-0 border-[#5E2615]
}

.verifyinput button{
   @apply hover:cursor-pointer hover:bg-[#FF6C41]/90 h-[2.3em] w-[70%] text-white text-3xl font-bold bg-[#FF6C41] rounded-lg
}

/* From here Nav components */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
